<!-- signup.component.html -->

<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <div class="auth-avatar">
            <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
          </div>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="user.name" required>
            </div>
            <div class="form-group">
              <label for="gender">Gender:</label>
              <select name="gender" class="form-control" [(ngModel)]="user.gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" class="form-control" placeholder="********" [(ngModel)]="user.password" required>
            </div>
            <div class="form-group">
              <label for="c_password">Confirm Password:</label>
              <input type="password" name="c_password" class="form-control" placeholder="********" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-my">Sign Up</button>
            </div>
            <div class="text-center login">
              Already have an account? <a routerLink="/login">Login</a> here.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  