<div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
  <a routerLink="/back/eventadd" class="button bg-red text-black">Add Event</a>

  <table class="table table-report -mt-2">
    <thead>
      <tr>
        <th class="whitespace-nowrap">ID</th>
        <th class="whitespace-nowrap">Name</th>
        <th class="whitespace-nowrap">Description</th>
        <th class="whitespace-nowrap">Date</th>
        <th class="whitespace-nowrap">Location</th>
        <th class="whitespace-nowrap">Ticket Price</th>
        <th class="whitespace-nowrap">Status</th>
        <th class="whitespace-nowrap">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="intro-x" *ngFor="let request of events">
        <td>{{ request.id }}</td>
        <td>{{ request.name }}</td>
        <td>{{ request.description }}</td>
        <td>{{ request.date }}</td>
        <td>{{ request.location }}</td>
        <td>{{ request.ticketPrice }}</td>
        <td>{{ request.status }}</td>
        <td class="table-report__action w-56">
          <div class="flex justify-center items-center">
            <a routerLink="/back/editevent/{{ request.id }}" class="flex items-center mr-3">
              <i data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit
            </a>
            <a class="flex items-center text-danger" (click)="deleteEvent(request.id)" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal">
              <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete
            </a>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
