<div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
  <a routerLink="/back/addcategory" class="button bg-red text-black">Add Category</a>

  <table class="table table-report -mt-2">
    <thead>
      <tr>
        <th class="whitespace-nowrap">Category Name</th>
        <th class="text-center whitespace-nowrap">Description</th>
        <th class="text-center whitespace-nowrap">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let category of categories">
        <tr class="intro-x">
          <td>
            <a href="" class="font-medium whitespace-nowrap">{{ category.name }}</a>
          </td>
          <td class="text-center">{{ category.description }}</td>
          <td class="table-report__action w-56">
            <div class="flex justify-center items-center">
              <a class="flex items-center mr-3" href="javascript:;" (click)="editCategory(category.id)">
                <i data-lucide="pencil" class="w-4 h-4 mr-1"></i> Edit
              </a>
              <a class="flex items-center text-danger" href="javascript:;" (click)="deleteCategory(category.id)">
                <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
